<nav class="sideNavbar shrinked">        
  <ul class="list-unstyled">
    <li><a routerLink="/home" routerLinkActive="active" class="active"> <i class="fa fa-home"></i> <span>Home</span></a></li>
    <li><a routerLink="/segment" routerLinkActive="active"><i class="fa fa-delicious"></i> <span>Segments</span></a></li>
    <li><a routerLink="/analytics" routerLinkActive="active" (click)="returnfalse('analytics')" ><i class="fa fa-bar-chart"></i><span>Analytics</span></a></li>
    <li><a routerLink="/configure-attributes" routerLinkActive="active"><i class="fa fa-cogs"></i><span>Configure Atrributes</span></a></li>    
  </ul>
</nav>